.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);

}

.connect-wallet {
    position: absolute;
    top: 20px;
    right: 40px;
    margin-top: 25px;
}

.backgroundContainer {
    background-color: whitesmoke;
    width: 600px;
    border-radius: 0 0 25px 25px; /* 25px for bottom left and right corners, 0 for top left and right corners */
}

.squareContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 0px;
    min-height: 95vh;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.img-container {
    width: 95%;
    margin-top: 125px;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 0 0 25px 25px;
}

.total-sum-bar {
    width: 80%;
    height: 1px;
    background-color: #707070;
    margin-bottom: 16px;
    border: none;
}

.descriptionText {
    width: 60%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.backButton,
.donateButton {
    margin: 0 85px;
    color: whitesmoke;
    background-color: #213547;

}

.backButton:hover,
.donateButton:hover {
    color: #213547;
    background-color: whitesmoke;
}

.donationNote {
    font-size: 14px;
    font-weight: 500;
    color: #c30000;
    max-width: 100%; /* Set a maximum width to prevent overflowing */
    overflow: hidden; /* Hide any overflowing text */
    white-space: nowrap; /* Prevent the text from wrapping */
    text-overflow: ellipsis; /* Show an ellipsis (...) if the text overflows */
}




