body {
    background-color: #ccdce4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerCreate {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-top: 120px;
}

.fieldCreate {
    background-color: whitesmoke;
    width: 500px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #707070;
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    font-family: Avenir, sans-serif;
    font-weight: initial;
    color: #213547;
}

button.fieldCreate {
    width: 522px;
}

.fieldCreate.descriptionField {
    height: 150px;
    font-family: Avenir, sans-serif;
    font-weight: 400;
    color: #213547;
}

.imageUpload {
    width: 500px;
    border-radius: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    object-fit: cover;

}

.smallNote {
    font-size: 11px;
    color: #888;
    margin-top: 10px;
    max-width: 300px;
    text-align: center;
}

.backButton,
.nextButton {
    margin: 0 85px;
    color: whitesmoke;
    background-color: #213547;

}

.backButton:hover,
.nextButton:hover {
    color: #213547;
    background-color: whitesmoke;
}

