.App {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.logo {
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  z-index: 9999;
  color: #213547
}

.space-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  background-color: #ccdce4;
  z-index: 9998; /* Set a z-index lower than the logo to keep it below the logo */
}

button {
  margin-top: 20px;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 10px;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: left; /* Change justify-content to left */
  padding: 0;
  margin: 0;
}

.footer li {
  padding: 5px;
}

